@font-face {
  font-family: 'Ancient Sans';
  src: url('fonts/Ancientsans-vnBW9.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ancient Sans', sans-serif;
}

.navbar {
  background: #800813;
  
}
